.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  width: 350px;
  height: 350px;
}

.timer {
  font-size: 130px;
  margin-top: -230px;
  color: #84e;
}

.areaBtn {
  margin-top: -30px;
  display: flex;
  gap: 30px;
}

.btn {
  width: 150px;
  height: 30px;
  background-color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px;
  border: transparent;
  transition: all .4s;
}

.btn:hover {
  background-color: #84e;
  color: #fff;
}